body {
	font: 10pt arial, sans-serif;
	color: #eee;
	background-color: #333;
	margin: 0;
	padding: 0;
	background-image: url(images/bg.png);
	overflow: hidden;
/*	background-image: url(http://kenmickles.com/halloween_playlist/images/skull_bg.jpg);*/
}

a {
	color: #aaa;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-family: 'IM Fell English', arial, sans-serif;
	font-size: 2em;
}

h2#status {
	color: #d7cc17;
}

.clr {
	clear: both;
	display: block;
}

#wrapper {
/*	width: 1000px;*/
}

#photo-strips img {
	width: 150px;
	box-shadow: 1px 1px 20px #000;
}

#main {
	color: #eee;
	background-color: #000;
	position: relative;
	padding: 1em;
	text-align: center;
	height: 385px;
	box-shadow: 1px 1px 20px #000;	
}

#countdown {
	color:#d7cc17;
	font-size:65px;
	font-weight:bold;
	left:0;
	position:absolute;
	text-align:center;
	top:152px;
	width:100%;
	display:none;
}

#flash {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1985;
}

#photos {
	width: 250px;
	position: absolute;
	top: 235px;
	left: 10%;
	z-index: 1984;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	box-shadow: 6px 6px 24px #000;
}

#photos img {
	width: 250px;
	height: 188px;
	border: 10px solid #fff;
	float: left;
}

#countdown h1 {
	font-size: 25em;
	margin: 0;
	padding: 0;
}

#countdown h3 {
	font-size: 2em;
	margin: 0;
	padding: 0;
	color: #aaa;
}
