body {
	font: 10pt arial, sans-serif;
	color: #eee;
	background-color: #333;
	margin: 0;
	padding: 0;
	background-image: url(images/skull-pile.jpg);
/*  overflow: hidden;*/
}

a {
	color: #aaa;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font: normal 22pt westsac, serif;
	text-shadow: 2px 2px 1px #000;
}

h2 strong {
  font-weight: normal;
  font-size: 2em;
  display: block;
  text-transform: uppercase;
  line-height: 1.1em;
}

h2 em {
  color: #222222;
  font-style: normal;
  text-shadow: 1px 1px 6px #FF7E00;
  opacity: .8;
}

h2 small {
}

h2#welcome {
  width: 500px;
  position: absolute;
  top: 41px;
  left: 20px;
}

h2#status {
	color: #ff7e00;
	text-align: right;
	position: absolute;
	right: 30px;
	bottom: 0;
}

.clr {
	clear: both;
	display: block;
}

#wrapper {
/*	width: 1000px;*/
  width: 1200px;
  margin: auto;
	background-color: #333;  
	background-image: url(images/wood.jpg);	
	box-shadow: 2px 2px 20px #000;
	min-height: 2000px;
}

#photo-strips img {
	width: 150px;
	box-shadow: 1px 1px 20px #000;
}

#main {
	color: #eee;
	background-color: #000;
	position: relative;
	padding: 1em;
	text-align: center;
	height: 385px;
	box-shadow: 1px 1px 20px #000;	
	background-image: url(images/haunted_house.jpg);
}

#countdown {
	color:#d7cc17;
	font-size:65px;
	font-weight:bold;
	left:0;
	position:absolute;
	text-align:center;
	top:152px;
	width:100%;
	display:none;
}

#flash {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1985;
}

#photos {
	width: 250px;
	position: absolute;
	top: 235px;
	left: 10%;
	z-index: 1984;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	box-shadow: 6px 6px 24px #000;
}

#photos img {
	width: 250px;
	height: 188px;
	border: 10px solid #fff;
	float: left;
}

#countdown h1 {
	font-size: 25em;
	margin: 0;
	padding: 0;
}

#countdown h3 {
	font-size: 2em;
	margin: 0;
	padding: 0;
	color: #aaa;
}
